#VS files
.vs

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/*config.yml

# Project files
log
virt/

# Python cache
__pycache__/

# SonarQube
sonar-scanner-4.5.0.2216-windows
.scannerwork
sonar-project.properties

# Others
env.sh
