#wordcloud-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40rem;
    -webkit-flex-direction: row;
}

#wc-img {
    max-width: 80rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#legend {
    margin: 0 auto;
    min-width: 20rem;
    max-width: 30rem;
    height: fit-content;
    background: #212529;
    color: #fff;
    border: 1px solid #ffffff24;
    border-radius: 5px;
}

#wc-loading {
    height: 20rem;
    margin: auto;
}

h3 {
    margin-top: 0;
    text-align: center;
    padding-top: 2vh;
    color: white;
    /*margin-bottom: 2em;*/
}

/* VECCHIO MESSAGGIO DI CARICAMENTO TWEET
h4 {
    color: white;
    text-align: center;
    width: calc(100vw - 6rem);
}*/

#info {
    margin-top: 0; /*5%;*/
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: grey;
}

#postbtn {
    color: black;
    border: white;
    border-radius: 4px;
}

tbody, thead {
    display: inline-block;
}

tbody {
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

td {
    width: 20em;
    word-break: break-word;
    border: 1px solid #ffffff24;
    text-align: center;
    padding: .1em;
}

td:nth-child(2) {
    width: calc(20em - 5px);
}

th {
    width: 20em;
    word-break: break-word;
    border: 1px solid #ffffff24;
    text-align: center;
    padding: .1em;
}

tbody::-webkit-scrollbar {
    width: 5px;
}

tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 0 4px rgb(33, 37, 41);
    border-radius: 0 5px 5px 0;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 10px rgb(24, 63, 92);
}


/*gestione modale pubblicazione*/
#postModal input {
    border-radius: 5px;
    border: 1px solid #8080806b;
    display: block;
    margin-top: 1rem;
}


#postModal p {
    font-size: 14px;
    font-weight: normal;
}

#postModal img {
    border-radius: 10px;
}

#postModal label:first-of-type {
    margin-top: 2rem;
}