#wordcloud {
    display: inline-block;
    float: right;
}

#wc-img {
    height: 500px;
    margin-right:10rem
}

#cloud_loading {
    height: 150px;
    position: relative;
    margin: 0 auto;
    z-index: 9999999;/*
    transform: translateY(-200%);
*/  }

h3 {
    margin-top: 0;
    text-align: center;
    padding-top: 2vh;
    color: white;
    margin-bottom: 2em;
}

h4 {
    color: white;
    text-align: center;
    width: calc(100vw - 6rem);
}

tbody, thead {
    display: inline-block;
}

tbody {
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#containing {
    width: 30rem;
    background: #212529;
    margin-left: 10rem;
    color: #fff;
    border: 1px solid #ffffff24;
    border-radius: 5px;
}

td {
    width: 20em;
    word-break: break-word;
    border: 1px solid #ffffff24;
    text-align: center;
    padding: .1em;
}

th {
    width: 20em;
    word-break: break-word;
    border: 1px solid #ffffff24;
    text-align: center;
    padding: .1em;
}

tbody::-webkit-scrollbar {
    width: 5px;
}

tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 0 4px rgb(33, 37, 41);
    border-radius: 0 5px 5px 0;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 10px rgb(24, 63, 92);
}
