#wordcloud{
    display:flex;
}
#wc-img {
    margin:auto;
    height:500px;
}
#cloud_loading {
    margin:auto;
    height:150px;
}

h3 {
    margin-top: 0;
    text-align: center;
    padding-top: 2vh;
    color: white;
}
h4{
    color:white;
    text-align:center;
    width:100%;
}