h2{
    margin-top:0;
    text-align:center;
    padding-top:2vh;
    color: white;
}
#firstGraph {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-size: 15px;
}
#container {
    height: 500px;
}
#info {
    margin-top: 3%;
    text-align: center;
}