#total {
    margin-left: 0;
}

h2 {
    margin-top:0;
    padding-top:2vh;
    text-align:center;
    color: white;
}

.didascalia {
    padding: 3rem;
}


#pbtn, #pbtn2 {
    color: black;
    margin: 0 auto; 
    display: block;
}

#info1, #info2 {
    text-align: center;
    font-size: medium;
    margin-bottom: 20px;
}

#firstGraph {
    width: 40%;
    margin-left: 7%;
    color: white;
    font-size: 15px;
    float:left;
    margin-top: 5%;
}

#secondGraph {
    width: 40%;
    margin-right: 7%;
    color: white;
    font-size: 15px;
    float: right;
    margin-top: 5%;
}

#container1, #container2 {
    height: 500px;
}

#alert {
    margin-top: 0; /*5%;*/
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: grey;
}

#imgPreview {
    margin: auto;
    height: 45%;
    width: 45%;
}

.anychart-credits-text {
    display: none;
}


/*  -------  */
@media screen and (max-width: 1000px) {

    #firstGraph, #secondGraph {
        padding: 5%;
        width: 80%;
        float: left;
        margin-right: 0%;
        margin-left: 10%;
    }

    #container1, #container2 {
        margin-top: 10px;
        height: 450px;
    }

}


/*  -------  */
@media screen and (max-width: 800px) {

    #total {
        padding: 5%;
        margin-left: 0;
        overflow-y: scroll;
        height: 100%;/*calc(100vh - 15rem);*/
        width: 100%;
    }
     
    #total::-webkit-scrollbar-track {
        background: #212529;
    }
        
    #total::-webkit-scrollbar-thumb {
        background: #62849c; 
        border-radius: 8px;
    }
 
    #total::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #pbtn2 {
        margin-bottom: 15%;
    }

}


/*  -------  */
@media screen and (max-width: 600px) {

    #total {
        margin-left: 0;
        overflow-y: scroll;
        height: 100%;/*calc(100vh - 15rem);*/
        width: 100%;
    }

    #total::-webkit-scrollbar {
        width:0;
        height: 0;
    }

    #total::-webkit-scrollbar-track {
        display: none;
    }
        
    #total::-webkit-scrollbar-thumb {
        display: none;
    }

    #container1, #container2 {
        height: 350px;
    }

    #pbtn2 {
        margin-bottom: 25%;
    }

}