@font-face {
    font-family: 'Ink';
    src: url('/static/fonts/inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body, #app {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color:  rgb(1, 18, 25);
}

/* main component */

.main-container {
    position: relative;
    text-align: center;
    color: white;

}

.main-container img {
    width: 8rem;
}

@media screen and (min-width: 1000px) {
    .main-container img {
        width: 11rem;
    }

    .row {
        height: 30%
    }
}

.main-title-container {
    margin: 5rem;
    text-align: left;
    font-family: Roboto;
}


.main-title-container h1 {
    color: #00aced;

}
.main-title-container button {
    margin-top: 1rem;
    width: 13rem;
    height: 4rem;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(255,255, 255, 0.8);
    color: black;
}

.main-title-container button:hover {
    background-color: #00aeeda9;
    color: white;
    border: none;
}

.lined-header-container {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
    margin-top: 6rem;
}

 .lined-header {
    display: inline-block;
    padding: 0 16px;
    background-color: rgb(1, 18, 25);;
    font-style: normal;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.lined-header:before {
    position: absolute;
    background: #e1e8ed;
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row .title {
    margin: 1rem;
    font-weight: bold;
}

.col-md-4 {
    width: 33%;
    float: left;
    padding: 1rem;
}


.col-md-12 {
    margin: 0;
    width: 50%;
    float: left;
    padding: 1rem;
    padding-bottom: 10rem;
}

.text-center {
    width: 70%;
}

@media screen and (max-width: 700px) {
    .col-md-4, .col-md-12 {
        width: 100%;
    }
}

/**/


.icon {
    color: white;
    margin: 2px;
    font-size: 2rem;
    width: 20px;
    align-content: center;
}

.fa-home {
    display: none;
}

.fa-chart-bar {
    transform: scale(1.2);
}

#loading {
    background: url('/static/img/loading.gif') no-repeat center;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    height: 30vh;
    width: 30vw;
    z-index: 9999999;
    transform: translateY(-200%);
}

#navbar button {
    background-color: transparent;
    border-style: none;
    outline: none;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
}

.menu {
    display: none;
}

#navbar li:not(:first-child):hover{
    background-color: #fefefe10;
}

#navbar li:nth-child(2):hover {
    background-color: #fefefe10;
}   

#navbar .router-link-exact-active {
    background-color: #2a2a299e;
}


#navbar {    
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    float: left;
    background-image: linear-gradient(340deg, #011219 35vh, #708da2 70vh, #3d5463 95vh);
    text-align: center;
    width: 6rem;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#liSearch {
    margin-top: 3rem;
}


/* 
    IMPORTANTE: left di componentView deve essere uguale a width della navbar qui sopra ^

    Non e' sicuramente il modo piu' intelligente di ottenere che l'area del componente sia affiancata alla navbar, ma funziona
*/


/* main component */

#componentView {
    margin-left: 5rem;
    overflow-y: scroll;
    height: 100%;/*calc(100vh - 5rem);*/
}

#componentView::-webkit-scrollbar-track {
    background: #212529; 
}
   
#componentView::-webkit-scrollbar-thumb {
    background: #62849c; 
    border-radius: 8px;
}
#componentView::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* close nav button */

.closeBtn {
    font-size: 3rem;
    margin: 1rem;
    float: right;
    background-color: transparent;
    outline: none;
    border: none;
    color: #c4c8ca;
}

/* Map */
#map {
    height: 40vh ;
    width: 95% ;
    display: inline-block;
    border-radius: 10px;
    margin-top: 2rem;
}

#map > div > div > div:nth-child(4) .gmnoprint{
 /*   left: 250px !important; */
    margin: 10px !important;
}
#map a{
    background-color: transparent !important;
    color: initial !important;
}

#map img {
    vertical-align: baseline;
}

#map label {
    margin-bottom: 0px;
}


/* on mobile */

@media screen and (max-width: 800px) {
    
    #navbar {
        background-image: linear-gradient(-30deg, #011219 12vw, #708da2 30vw, #011219 65vw);
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 6rem;
    }


    #navbar  li:not(:first-child) {
        float: left;
        display: block;
        text-align: center;
        height:100%;
    }

    #navbar button {
        width: 6rem;
    }

    #liSearch {
        margin-top: 0;
        margin-left: 3rem;
    }
    
    #componentView {
        margin-left: 0; 
        overflow-y: scroll;
        height: 100%;
        width: 100%;
      }
  
    #componentView::-webkit-scrollbar-track {
        display: none;
    }
        
    #componentView::-webkit-scrollbar-thumb {
        display: none;
    }
    #componentView::-webkit-scrollbar {
        width:0;
        height: 0;
    }
    
}


@media screen and (max-width: 600px) {

    #navbar {
        background-color: #253038;
        background-image: none;
    }

    #navbar li {
        font-size: 10px;
    }

    .fa-home {
        display: inline;
    }

    #fraydrum-logo {
        display: none
    }

    #liSearch {
        margin-left: 0;
    }

    .icon {
        transform: scale(0.8);
    }

    .fa-chart-bar {
        transform: scale(1);
    }


    #navbar li:not(:first-child) {display: none;}

    .menu {
        display: block;
        width: 100%;
        height: 6rem;
        background-color: #202b33;
    }
    .menu button {
        float: right;
    }

    .responsive {
        position: relative;
        height: 100% !important;
    }
    
    .responsive li:not(:first-child) {
        display: block !important;
        height: 10% !important;
        width: 100%;
    }
    
    .responsive .router-link-exact-active {
        background-color: transparent !important;
    }

    .responsive span {
        display: inline !important;
    }
    
    .responsive li:not(:first-child) button {
        width: 100% !important;
        font-size: 1.7rem;
        color: white;
    }

    .responsive li:not(:first-child) .icon {
        float: left;
        margin-left: 2rem;
    }

    .responsive li:not(:first-child) span {
        float: left;
        margin-left: 3rem;
    }
}


/* modal for posting tweet with image */
#postModal input {
    border-radius: 5px;
    border: 1px solid #8080806b;
    display: block;
    margin-top: 1rem;
}


#postModal p {
    font-size: 14px;
    font-weight: normal;
}

#postModal img {
    border-radius: 10px;
}

#postModal label:first-of-type {
    margin-top: 2rem;
}

/* share button class */
.share-bttns {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 6px black;
    padding: 5px;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}

