html, body, #app {
    height: 100%
}

body {
    background-color:  rgb(6, 40, 55);

}

#fraydrum-header {
    margin:0 ;
    float: left;
    padding-top: 1rem;
    margin-left: 4rem;
    color: white;
    font-family: 'Ink Free','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fraydrum-logo {
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.icon {
    color: white;
    margin: 2px;
    font-size: 2rem;
    width: 20px;
    align-content: center;
}

#loading {
    background: url('/static/img/loading.gif') no-repeat center;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    height: 30vh;
    width: 30vw;
    z-index: 9999999;
    transform: translateY(-200%);
}

#navbar button {
    background-color: transparent;
    border-style: none;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
}

#navbar button:focus {
    outline:0;
}

#navbar li:hover{
    background-color: darkgoldenrod;
}

#navbar .router-link-active {
    background-color: darkgoldenrod;
}

#navbar {
    padding-top: 5rem;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    float: left;
    background-color:  rgb(43, 96, 121);
    text-align: center;
    width: 60px;
}

/* 
    IMPORTANTE: left di componentView deve essere uguale a width della navbar qui sopra ^

    Non e' sicuramente il modo piu' intelligente di ottenere che l'area del componente sia affiancata alla navbar, ma funziona
*/
#componentView {
    margin-left: 5rem;
    overflow-y: scroll;
    height: 100vh;
}

#componentView::-webkit-scrollbar-track {
    background: #212529; 
}
   
#componentView::-webkit-scrollbar-thumb {
    background: rgb(24 63 92); 
    border-radius: 8px;
}
#componentView::-webkit-scrollbar {
    width: 10px;
}

/* Map */
#map {
    height: 300px !important;
    width: 400px !important;
    display: inline-block;
    margin: 1vh;
/*    border: 3px solid white;
    border-radius: 2px;*/
}
#map > div > div > div:nth-child(4) .gmnoprint{
    left: 250px !important;
    margin: 10px !important;
}
#map a{
    background-color: transparent !important;
    color: initial !important;
}

#map img {
    vertical-align: baseline;
}

#map label {
    margin-bottom: 0px;
}
