
h3{
    margin-top:0;
    text-align:center;
    padding-top:2vh;
    color: white;
}
#data-view-map {
    margin: 0 auto;
    margin-top: 10vh;
    height: 70vh;
    width: 90vw;
}
.gm-style > div > div > div > div > img {
    border-radius: .5rem;
}
#data-view-map > div:first-child {
    margin: 0 auto !important;
}
#map_view_container {
    position: absolute;
    margin: 0 auto;
    left: 5rem;
    right: 0;
    top: 20rem;
    width: 550px;
}