/* flexbox */

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  flex: 50%;
}

.flex-right {
  flex: 50%;
  margin-left: 4rem;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-right {
    margin-left: 0;
  }

}

/* searchComp */

#filterComp {
  margin-left: 3rem;
}

#inputFields {
    float: left;
    margin-top: 3rem;
}

#inputFields input[type="text"], #inputFields input[type="number"] {
    border-radius: 5px;
    background-color: transparent;
    border-style: none;
    border: 2px solid #2b6079;
    margin-bottom: 1rem;
    width: 40rem;
    color: white
}
#inputFields input[type="number"] {
    caret-color: transparent;
    width:4em !important;
}
label[for="tweet-count"] {
    margin-left: 7em;
}
#inputFields input[type="text"]::placeholder {
    color: #6090a8;
}

#inputFields input[type="text"]:disabled, #inputFields input[type="number"]:disabled {
    border-color: #98a0a3;
}

#inputFields input[type="text"]:disabled::placeholder {
    color: #98a0a3;
}


#rayValue {
    color: white;
}

#inputFields label {
    color: #7e7e7e;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#inputFields > label.text{
    display: block;
}

#inputFields label[for='coordinates-only'], #inputFields label[for='images-only'] {
    margin-left: 1rem;
}

#inputFields > input[type="checkbox"] {
    transform: scale(1.5);
}

#inputFields > input[type="range"] {
  width: 30rem;
}

#searchBtn {
    margin: 3rem;
}

.error_msg {
    color: #efff00;
}


/** /

/* switch  */

#streamSwitch {
  margin-left: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.4rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0075ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0075ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.7rem);
  -ms-transform: translateX(1.7rem);
  transform: translateX(1.7rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}


/* on mobile */

@media (max-width: 600px) {
  #filterComp {
    margin-left: 1rem;

    /* cose inserit solo per fare debugging */
    overflow-y: scroll;
    margin-bottom: 5rem;
    /***/
  }

  #inputFields {
    width: 100%;
  }

  #inputFields input[type="text"], #inputFields input[type="number"] {
    width: 90%;
  }

  #map{
    width: 90%;
  }

  label[for="tweet-count"] {
    display: block;
    margin: 0
  }

  #searchBtn {
    margin-left: 0;
  }

  
}