
#inputFields > * {
    margin: 1.5rem;
}

#rayValue {
    color: white;
}

#inputFields label{
    color: white;
}

input[type="range"] {
    width: 20rem;
}

input[type="checkbox"] {
    transform: scale(1.5);
}
#tweets-search {
    max-height: 90vh;
    overflow-y: scroll;
}