/* flexbox */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    flex: 65% !important;
    margin: 2rem;
}

.flex-right {
    flex: 20%;
}

@media (min-width: 1000px) {
    .flex-right {
        display: block !important;
    }
    .flex-left {
        display: block !important;
    }
}

.flex-right .closeBtn {
    display: none;
}

.float-container {
    display: flex;
    flex-direction: row;
}

.float-left {
    flex: 50%;
    display: inline;
    float: left;
    margin-right: 2rem;
    margin-top: 2rem;
}

.float-right {
    flex: 50%;
    float: right;
    margin-top: 6rem;
}

/* */

/* Trends */

#trendsBtn {
    display: none;
    float: right;
    position: fixed;
    top: 1rem;
    right: 5rem;
    margin: 2rem;
    background-color: #2b414d;
    box-shadow: 0px 0px 11px white;
    color: white;
    outline: none;
    border: none;
    border-radius: 3rem;
    width: 5rem;
    height: 5rem;
}

#Trends {
    background-color: rgb(20 45 56 / 55%);
    border-radius: 2rem;
    width: 90%;
    overflow-y: auto;
    color: #cecece;
    margin-right: 4rem;
    margin-top: 2rem;
}

#Trends ul {
    list-style-type: none;
    padding: 0;
    height: 90vh;
    overflow-y: auto;
    width: 100%;
}

#Trends ul::-webkit-scrollbar {
    width: 5px;
}

#Trends ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 0 4px rgb(33, 37, 41);
    border-radius: 0 5px 5px 0;
}

#Trends ul::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 10px rgb(24, 63, 92);
}

#Trends li {
    width: 100%;
    padding: 2rem 2rem;
    font-weight: bold;
    word-break: break-all;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    cursor: pointer;
}

#Trends li:hover {
    background-color: rgba(65, 80, 87, 0.582);
}

#Trends li .tweet-number {
    float: right;
    font-size: 12px;
}

#Trends li p {
    color: #ffffffd6;
    font-size: 16px;
    margin: 0 0 10px;
}   

#Trends h3 {
    margin: 15px;
    line-height: 1.5em;
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Trends .title {
    border-bottom: 1px solid rgb(255 255 255 / 34%);
    width: 100%;
}

/* */


/* searchComp */

#filterComp {
    display: flex;
    width: 100%;
}

#inputFields {
    float: left;
    width: 100%;
}

#inputFields input[type="text"], #inputFields input[type="number"] {
    border-radius: 5px;
    background-color: transparent;
    border-style: none;
    border: 2px solid #2b6079;
    margin-bottom: 1rem;
    width: 90%;
    color: white
}

#inputFields input[type="number"] {
    caret-color: transparent;
    width: 4em !important;
}

label[for="tweet-count"] {
    margin-left: 2rem;
}

#inputFields input[type="text"]::placeholder {
    color: #6090a8;
}

#inputFields input[type="text"]:disabled, #inputFields input[type="number"]:disabled {
    border-color: #98a0a3;
}

#inputFields input[type="text"]:disabled::placeholder, input[type="number"]:disabled::placeholder {
    color: #98a0a3;
}


#rayValue {
    color: white;
}

#inputFields label {
    color: #7e7e7e;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#inputFields > label.text {
    display: block;
}

#inputFields label[for='coordinates-only'], #inputFields label[for='images-only'] {
    margin-left: 1rem;
}



#inputFields input[type="range"] {
    width: 25%;
    margin: 2rem;
}

#searchBtn {
    margin-top: 3rem;
    margin-right: 4rem;
    float: right;
    border-radius: 5px;
    padding: 0.7rem;
    box-shadow: 0 0 5px #fffefe;
    border: 1px solid white;
    background-color: white;
    font-weight: bold;
}

.error_msg {
    color: #ff7a00;
}


/** /



/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 50%;
}


/* on mobile */

@media (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-right {
        display: none;
        border: none;
    }

    .flex-right .closeBtn {
        display: block;
    }

    .flex-left {
        flex: 100%;
    }

    #trendsBtn {
        display: block;
    }

    #Trends {
        margin: auto !important;
        margin-top: 2rem !important;
    }
}


@media (max-width: 800px) {

    .flex-right {
        margin-left: 0;
    }

    #trendsBtn {
        top: 7rem
    }
    
}

@media (max-width: 650px) {
    .float-container {
        flex-direction: column;
    }

    .float-right, .float-left {
        margin: 0;
    }
    

    #inputFields {
        width: 100%;
    }

    #inputFields input[type="text"], #inputFields input[type="number"] {
        width: 90%;
    }

    #map {
        width: 90%;
    }

    label[for="tweet-count"] {
        display: block;
        margin: 0
    }

    #searchBtn {
        margin-left: 0;
    }
}




